# DATA PREPARATION PART 2

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../../data/filled_data.csv')

In [3]:
data.head(10)

,total_assets,non_current_assets,current_assets,property_plant_equipment,intangible_assets,inventories,trade_receivables,cash_and_cash_equivalents,equity_shareholders_of_the_parent,share_capital,...,non_current_liabilities,current_liabilities,non_current_loans_and_borrowings,financial_liabilities_loans_borrowings,total_shares,target,end_of_period,file_name,ticker,sector
0,1342.00,86.00,1256.00,0.00,0.00,0.00,0.00,0.00,1221.00,0.00,...,0.0,110.00,0.0,0.00,1870.76,7.54,2011-03-01,11BIT.xlsx,11B,gry
1,1659.00,103.00,1556.00,0.00,0.00,0.00,0.00,0.00,1595.00,0.00,...,0.0,64.00,0.0,0.00,1870.76,24.00,2011-06-01,11BIT.xlsx,11B,gry
2,2141.00,85.00,2055.00,0.00,0.00,0.00,0.00,0.00,2060.00,0.00,...,0.0,81.00,0.0,0.00,1870.76,14.95,2011-09-01,11BIT.xlsx,11B,gry
3,2986.19,86.87,2899.31,0.00,53.73,1109.49,418.50,1299.40,2560.98,187.08,...,0.0,425.22,0.0,0.00,1870.76,7.15,2011-12-01,11BIT.xlsx,11B,gry
4,3473.00,51.00,3422.00,0.00,0.00,0.00,0.00,0.00,3259.00,191.00,...,0.0,76.00,0.0,0.00,1911.70,9.83,2012-03-01,11BIT.xlsx,11B,gry
5,3428.00,49.00,3379.00,0.00,0.00,0.00,231.00,1604.00,3217.00,0.00,...,0.0,74.00,0.0,0.00,1911.70,10.51,2012-06-01,11BIT.xlsx,11B,gry
6,6384.00,48.00,6336.00,0.00,0.00,0.00,0.00,0.00,6137.00,0.00,...,0.0,93.00,0.0,0.00,2217.20,9.31,2012-09-01,11BIT.xlsx,11B,gry
7,7336.53,95.45,7240.68,7.18,29.85,2558.44,1178.29,3465.90,6913.93,221.72,...,0.0,422.36,0.0,-0.62,2217.20,8.62,2012-12-01,11BIT.xlsx,11B,gry
8,7410.16,82.35,7327.81,5.91,23.88,2895.94,392.60,4034.73,6971.11,221.72,...,0.0,439.05,0.0,0.00,2217.20,8.52,2013-03-01,11BIT.xlsx,11B,gry
9,7740.99,567.13,7173.87,4.64,507.73,2792.80,561.13,3816.39,7312.28,221.72,...,0.0,428.71,0.0,0.00,2217.20,11.37,2013-06-01,11BIT.xlsx,11B,gry

In [4]:
data = (data.sort_values(by=['file_name', 'end_of_period'], ascending=False))

if 'Unnamed: 0' in data.columns:
    data = data.drop('Unnamed: 0', axis=1)

In [5]:
data['total_liabilities'] = data['current_liabilities'] + data['non_current_liabilities']

In [6]:
data.head(3)

,total_assets,non_current_assets,current_assets,property_plant_equipment,intangible_assets,inventories,trade_receivables,cash_and_cash_equivalents,equity_shareholders_of_the_parent,share_capital,...,current_liabilities,non_current_loans_and_borrowings,financial_liabilities_loans_borrowings,total_shares,target,end_of_period,file_name,ticker,sector,total_liabilities
15527,2981239.0,1730362.0,1250877.0,1031440.0,340644.0,202267.0,1039206.0,6404.0,288397.0,25678.0,...,1631516.0,975000.0,96674.0,10271.34,510.0,2022-06-01,ZYWIEC.xlsx,ZWC,napoje,2692842.0
15526,2741947.0,1723917.0,1018030.0,1036437.0,344336.0,190622.0,749814.0,28068.0,254238.0,25678.0,...,1867659.0,540000.0,613619.0,10271.34,506.0,2022-03-01,ZYWIEC.xlsx,ZWC,napoje,2487709.0
15525,2508447.0,1726721.0,781726.0,1050251.0,347755.0,140983.0,570261.0,2510.0,216089.0,25678.0,...,2209321.0,0.0,1094585.0,10271.34,462.5,2021-12-01,ZYWIEC.xlsx,ZWC,napoje,2292358.0

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15528 entries, 15527 to 5309
Data columns (total 22 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   total_assets                            15528 non-null  float64
 1   non_current_assets                      15528 non-null  float64
 2   current_assets                          15528 non-null  float64
 3   property_plant_equipment                15528 non-null  float64
 4   intangible_assets                       15528 non-null  float64
 5   inventories                             15528 non-null  float64
 6   trade_receivables                       15528 non-null  float64
 7   cash_and_cash_equivalents               15528 non-null  float64
 8   equity_shareholders_of_the_parent       15528 non-null  float64
 9   share_capital                           15528 non-null  float64
 10  retained_earning_accumulated_losses     15528 non-null  float64
 11  non_current_liabilities                 15528 non-null  float64
 12  current_liabilities                     15528 non-null  float64
 13  non_current_loans_and_borrowings        15528 non-null  float64
 14  financial_liabilities_loans_borrowings  15528 non-null  float64
 15  total_shares                            15528 non-null  float64
 16  target                                  15528 non-null  float64
 17  end_of_period                           15528 non-null  object
 18  file_name                               15116 non-null  object
 19  ticker                                  15528 non-null  object
 20  sector                                  15116 non-null  object
 21  total_liabilities                       15528 non-null  float64
dtypes: float64(18), object(4)
memory usage: 2.7+ MB

In [8]:
attributes = [
    'total_assets', 'non_current_assets', 'current_assets',
    'property_plant_equipment', 'intangible_assets', 'inventories',
    'trade_receivables', 'cash_and_cash_equivalents', 'equity_shareholders_of_the_parent',
    'share_capital', 'retained_earning_accumulated_losses', 'non_current_liabilities',
    'current_liabilities', 'non_current_loans_and_borrowings', 'financial_liabilities_loans_borrowings'
]

def calculate_financial_differences(df, attributes, periods=[1, 2], company_col='file_name', sort_col='end_of_period'):
    df = df.sort_values([company_col, sort_col])
    result_df = df.copy()

    # Calculate differences for each attribute and period
    for attr in attributes:
        for period in periods:
            diff_col_name = f'{attr}_diff_{period}q'
            result_df[diff_col_name] = result_df.groupby(company_col)[attr].diff(periods=period)

    return result_df

df = calculate_financial_differences(data, attributes)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15528 entries, 0 to 11088
Data columns (total 52 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   total_assets                                    15528 non-null  float64
 1   non_current_assets                              15528 non-null  float64
 2   current_assets                                  15528 non-null  float64
 3   property_plant_equipment                        15528 non-null  float64
 4   intangible_assets                               15528 non-null  float64
 5   inventories                                     15528 non-null  float64
 6   trade_receivables                               15528 non-null  float64
 7   cash_and_cash_equivalents                       15528 non-null  float64
 8   equity_shareholders_of_the_parent               15528 non-null  float64
 9   share_capital                                   15528 non-null  float64
 10  retained_earning_accumulated_losses             15528 non-null  float64
 11  non_current_liabilities                         15528 non-null  float64
 12  current_liabilities                             15528 non-null  float64
 13  non_current_loans_and_borrowings                15528 non-null  float64
 14  financial_liabilities_loans_borrowings          15528 non-null  float64
 15  total_shares                                    15528 non-null  float64
 16  target                                          15528 non-null  float64
 17  end_of_period                                   15528 non-null  object
 18  file_name                                       15116 non-null  object
 19  ticker                                          15528 non-null  object
 20  sector                                          15116 non-null  object
 21  total_liabilities                               15528 non-null  float64
 22  total_assets_diff_1q                            14856 non-null  float64
 23  total_assets_diff_2q                            14596 non-null  float64
 24  non_current_assets_diff_1q                      14856 non-null  float64
 25  non_current_assets_diff_2q                      14596 non-null  float64
 26  current_assets_diff_1q                          14856 non-null  float64
 27  current_assets_diff_2q                          14596 non-null  float64
 28  property_plant_equipment_diff_1q                14856 non-null  float64
 29  property_plant_equipment_diff_2q                14596 non-null  float64
 30  intangible_assets_diff_1q                       14856 non-null  float64
 31  intangible_assets_diff_2q                       14596 non-null  float64
 32  inventories_diff_1q                             14856 non-null  float64
 33  inventories_diff_2q                             14596 non-null  float64
 34  trade_receivables_diff_1q                       14856 non-null  float64
 35  trade_receivables_diff_2q                       14596 non-null  float64
 36  cash_and_cash_equivalents_diff_1q               14856 non-null  float64
 37  cash_and_cash_equivalents_diff_2q               14596 non-null  float64
 38  equity_shareholders_of_the_parent_diff_1q       14856 non-null  float64
 39  equity_shareholders_of_the_parent_diff_2q       14596 non-null  float64
 40  share_capital_diff_1q                           14856 non-null  float64
 41  share_capital_diff_2q                           14596 non-null  float64
 42  retained_earning_accumulated_losses_diff_1q     14856 non-null  float64
 43  retained_earning_accumulated_losses_diff_2q     14596 non-null  float64
 44  non_current_liabilities_diff_1q                 14856 non-null  float64
 45  non_current_liabilities_diff_2q                 14596 non-null  float64
 46  current_liabilities_diff_1q                     14856 non-null  float64
 47  current_liabilities_diff_2q                     14596 non-null  float64
 48  non_current_loans_and_borrowings_diff_1q        14856 non-null  float64
 49  non_current_loans_and_borrowings_diff_2q        14596 non-null  float64
 50  financial_liabilities_loans_borrowings_diff_1q  14856 non-null  float64
 51  financial_liabilities_loans_borrowings_diff_2q  14596 non-null  float64
dtypes: float64(48), object(4)
memory usage: 6.3+ MB

In [10]:
df.shape

(15528, 52)

In [11]:
df.isnull().sum()

total_assets                                        0
non_current_assets                                  0
current_assets                                      0
property_plant_equipment                            0
intangible_assets                                   0
inventories                                         0
trade_receivables                                   0
cash_and_cash_equivalents                           0
equity_shareholders_of_the_parent                   0
share_capital                                       0
retained_earning_accumulated_losses                 0
non_current_liabilities                             0
current_liabilities                                 0
non_current_loans_and_borrowings                    0
financial_liabilities_loans_borrowings              0
total_shares                                        0
target                                              0
end_of_period                                       0
file_name                                         412
ticker                                              0
sector                                            412
total_liabilities                                   0
total_assets_diff_1q                              672
total_assets_diff_2q                              932
non_current_assets_diff_1q                        672
non_current_assets_diff_2q                        932
current_assets_diff_1q                            672
current_assets_diff_2q                            932
property_plant_equipment_diff_1q                  672
property_plant_equipment_diff_2q                  932
intangible_assets_diff_1q                         672
intangible_assets_diff_2q                         932
inventories_diff_1q                               672
inventories_diff_2q                               932
trade_receivables_diff_1q                         672
trade_receivables_diff_2q                         932
cash_and_cash_equivalents_diff_1q                 672
cash_and_cash_equivalents_diff_2q                 932
equity_shareholders_of_the_parent_diff_1q         672
equity_shareholders_of_the_parent_diff_2q         932
share_capital_diff_1q                             672
share_capital_diff_2q                             932
retained_earning_accumulated_losses_diff_1q       672
retained_earning_accumulated_losses_diff_2q       932
non_current_liabilities_diff_1q                   672
non_current_liabilities_diff_2q                   932
current_liabilities_diff_1q                       672
current_liabilities_diff_2q                       932
non_current_loans_and_borrowings_diff_1q          672
non_current_loans_and_borrowings_diff_2q          932
financial_liabilities_loans_borrowings_diff_1q    672
financial_liabilities_loans_borrowings_diff_2q    932
dtype: int64

In [12]:
df = df.dropna(subset='financial_liabilities_loans_borrowings_diff_2q')

In [13]:
df.columns

Index(['total_assets', 'non_current_assets', 'current_assets',
       'property_plant_equipment', 'intangible_assets', 'inventories',
       'trade_receivables', 'cash_and_cash_equivalents',
       'equity_shareholders_of_the_parent', 'share_capital',
       'retained_earning_accumulated_losses', 'non_current_liabilities',
       'current_liabilities', 'non_current_loans_and_borrowings',
       'financial_liabilities_loans_borrowings', 'total_shares', 'target',
       'end_of_period', 'file_name', 'ticker', 'sector', 'total_liabilities',
       'total_assets_diff_1q', 'total_assets_diff_2q',
       'non_current_assets_diff_1q', 'non_current_assets_diff_2q',
       'current_assets_diff_1q', 'current_assets_diff_2q',
       'property_plant_equipment_diff_1q', 'property_plant_equipment_diff_2q',
       'intangible_assets_diff_1q', 'intangible_assets_diff_2q',
       'inventories_diff_1q', 'inventories_diff_2q',
       'trade_receivables_diff_1q', 'trade_receivables_diff_2q',
       'cash_and_cash_equivalents_diff_1q',
       'cash_and_cash_equivalents_diff_2q',
       'equity_shareholders_of_the_parent_diff_1q',
       'equity_shareholders_of_the_parent_diff_2q', 'share_capital_diff_1q',
       'share_capital_diff_2q', 'retained_earning_accumulated_losses_diff_1q',
       'retained_earning_accumulated_losses_diff_2q',
       'non_current_liabilities_diff_1q', 'non_current_liabilities_diff_2q',
       'current_liabilities_diff_1q', 'current_liabilities_diff_2q',
       'non_current_loans_and_borrowings_diff_1q',
       'non_current_loans_and_borrowings_diff_2q',
       'financial_liabilities_loans_borrowings_diff_1q',
       'financial_liabilities_loans_borrowings_diff_2q'],
      dtype='object')

In [14]:
df['target'] = df.pop('target')

In [15]:
df.head(10)

,total_assets,non_current_assets,current_assets,property_plant_equipment,intangible_assets,inventories,trade_receivables,cash_and_cash_equivalents,equity_shareholders_of_the_parent,share_capital,...,retained_earning_accumulated_losses_diff_2q,non_current_liabilities_diff_1q,non_current_liabilities_diff_2q,current_liabilities_diff_1q,current_liabilities_diff_2q,non_current_loans_and_borrowings_diff_1q,non_current_loans_and_borrowings_diff_2q,financial_liabilities_loans_borrowings_diff_1q,financial_liabilities_loans_borrowings_diff_2q,target
2,2141.00,85.00,2055.00,0.00,0.00,0.00,0.00,0.00,2060.00,0.00,...,0.00,0.0,0.0,17.00,-29.00,0.0,0.0,0.00,0.00,14.95
3,2986.19,86.87,2899.31,0.00,53.73,1109.49,418.50,1299.40,2560.98,187.08,...,1061.58,0.0,0.0,344.22,361.22,0.0,0.0,0.00,0.00,7.15
4,3473.00,51.00,3422.00,0.00,0.00,0.00,0.00,0.00,3259.00,191.00,...,0.00,0.0,0.0,-349.22,-5.00,0.0,0.0,0.00,0.00,9.83
5,3428.00,49.00,3379.00,0.00,0.00,0.00,231.00,1604.00,3217.00,0.00,...,-1061.58,0.0,0.0,-2.00,-351.22,0.0,0.0,0.00,0.00,10.51
6,6384.00,48.00,6336.00,0.00,0.00,0.00,0.00,0.00,6137.00,0.00,...,0.00,0.0,0.0,19.00,17.00,0.0,0.0,0.00,0.00,9.31
7,7336.53,95.45,7240.68,7.18,29.85,2558.44,1178.29,3465.90,6913.93,221.72,...,1344.70,0.0,0.0,329.36,348.36,0.0,0.0,-0.62,-0.62,8.62
8,7410.16,82.35,7327.81,5.91,23.88,2895.94,392.60,4034.73,6971.11,221.72,...,1401.87,0.0,0.0,16.69,346.05,0.0,0.0,0.62,0.00,8.52
9,7740.99,567.13,7173.87,4.64,507.73,2792.80,561.13,3816.39,7312.28,221.72,...,-946.35,0.0,0.0,-10.34,6.35,0.0,0.0,0.00,0.62,11.37
10,7451.85,518.27,6933.58,3.38,458.54,2904.95,400.14,3623.95,7007.70,221.72,...,-1308.11,0.0,0.0,15.44,5.10,0.0,0.0,0.00,0.00,9.03
11,8712.67,589.51,8123.16,63.18,466.67,3442.29,812.51,3740.97,7922.30,221.72,...,610.02,0.0,0.0,346.22,361.66,0.0,0.0,0.00,0.00,8.73

In [16]:
df.to_csv('../../data/data_with_features.csv', index=False)