In [31]:
import pandas as pd
import numpy as np

In [32]:
df = pd.read_csv('../../data/processed/data.csv')

In [33]:
df.head(3)

,end_of_period,total_assets,non_current_assets,current_assets,property_plant_equipment,intangible_assets,inventories,trade_receivables,cash_and_cash_equivalents,equity_shareholders_of_the_parent,share_capital,retained_earning_accumulated_losses,non_current_liabilities,current_liabilities,non_current_loans_and_borrowings,financial_liabilities_loans_borrowings,total_shares,file_name,ticker,target
0,2011-03-01,1342.0,86.0,1256.0,0.0,0.0,0.0,0.0,0.0,1221.0,0.0,0.0,0.0,110.0,0.0,0.0,1870.76,11BIT.xlsx,11B,7.54
1,2011-06-01,1659.0,103.0,1556.0,0.0,0.0,0.0,0.0,0.0,1595.0,0.0,0.0,0.0,64.0,0.0,0.0,1870.76,11BIT.xlsx,11B,24.00
2,2011-09-01,2141.0,85.0,2055.0,0.0,0.0,0.0,0.0,0.0,2060.0,0.0,0.0,0.0,81.0,0.0,0.0,1870.76,11BIT.xlsx,11B,14.95

max number of rows that can occur: 99

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15495 entries, 0 to 15494
Data columns (total 20 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   end_of_period                           15495 non-null  object
 1   total_assets                            15495 non-null  float64
 2   non_current_assets                      15495 non-null  float64
 3   current_assets                          15495 non-null  float64
 4   property_plant_equipment                15495 non-null  float64
 5   intangible_assets                       15495 non-null  float64
 6   inventories                             15495 non-null  float64
 7   trade_receivables                       15495 non-null  float64
 8   cash_and_cash_equivalents               15495 non-null  float64
 9   equity_shareholders_of_the_parent       15495 non-null  float64
 10  share_capital                           15495 non-null  float64
 11  retained_earning_accumulated_losses     15495 non-null  float64
 12  non_current_liabilities                 15495 non-null  float64
 13  current_liabilities                     15495 non-null  float64
 14  non_current_loans_and_borrowings        15495 non-null  float64
 15  financial_liabilities_loans_borrowings  15495 non-null  float64
 16  total_shares                            15495 non-null  float64
 17  file_name                               15495 non-null  object
 18  ticker                                  15495 non-null  object
 19  target                                  15495 non-null  float64
dtypes: float64(17), object(3)
memory usage: 2.4+ MB

In [35]:
df.shape

(15495, 20)

In [36]:
num_unique_tickers = df['ticker'].nunique()
print(f"Number of unique tickers: {num_unique_tickers}")

print('\n')

unique_tickers = df['ticker'].unique()
print(unique_tickers)

Number of unique tickers: 303


['11B' '3RG' 'ABE' 'ABS' 'ACG' 'ACP' 'ACT' 'ADV' 'AGO' 'AGT' 'ALG' 'ALL'
 'AMB' 'AMC' 'AML' 'ANR' 'APE' 'APL' 'APN' 'APR' 'APT' 'ARR' 'ART' 'ASB'
 'ASE' 'ASM' 'ATC' 'ATD' 'ATG' 'ATP' 'ATR' 'ATT' 'AWM' 'B24' 'BAH' 'BBT'
 'BCM' 'BCS' 'BCX' 'BDX' 'BDZ' 'BFT' 'BIO' 'BIP' 'BMC' 'BMX' 'BOW' 'BRA'
 'BRG' 'BRS' 'CAR' 'CCC' 'CDL' 'CDR' 'CEZ' 'CFI' 'CIE' 'CIG' 'CLN' 'CMP'
 'CMR' 'CNT' 'COG' 'CPL' 'CPR' 'CPS' 'CRI' 'CRJ' 'CRM' 'CTS' 'CTX' 'DAD'
 'DAT' 'DBC' 'DCR' 'DEK' 'DEL' 'DIG' 'DNP' 'DOM' 'DPL' 'DTR' 'EAH' 'EAT'
 'EDI' 'EEX' 'EFK' 'ELT' 'ELZ' 'EMC' 'ENA' 'ENE' 'ENG' 'ENI' 'ENP' 'ENT'
 'ERB' 'ERG' 'ETL' 'EUR' 'FEE' 'FER' 'FRO' 'FSG' 'FTE' 'GIF' 'GIG' 'GOB'
 'GOP' 'GPP' 'GRN' 'HDR' 'HEL' 'HLD' 'HRP' 'HRS' 'HUG' 'ICE' 'IFI' 'IFR'
 'IMC' 'IMS' 'INK' 'INL' 'IPO' 'IRL' 'ITB' 'IZB' 'IZO' 'IZS' 'JSW' 'JWW'
 'KCH' 'KCI' 'KDM' 'KER' 'KGH' 'KGL' 'KGN' 'KMP' 'KOM' 'KPD' 'KPL' 'KRK'
 'KTY' 'KVT' 'LAB' 'LBT' 'LBW' 'LEN' 'LES' 'LPP' 'LRK' 'LRQ' 'LSI' 'LTX'
 'LWB' 'MAB' 'MAK' 'MAN' 'MBR' 'MCR' 'MDG' 'MDI' 'MEG' 'MEX' 'MFO' 'MGT'
 'MIR' 'MLK' 'MLS' 'MNC' 'MOC' 'MOJ' 'MON' 'MRB' 'MRC' 'MSP' 'MSW' 'MSZ'
 'MXC' 'MZA' 'NEU' 'NNG' 'NTT' 'NTU' 'NVA' 'NVT' 'NWG' 'NXG' 'OBL' 'ODL'
 'OEX' 'OND' 'OPL' 'OPM' 'OPN' 'OTM' 'OTS' 'PAT' 'PBG' 'PBX' 'PCE' 'PCF'
 'PCG' 'PCR' 'PCX' 'PEN' 'PEP' 'PGE' 'PGM' 'PHR' 'PJP' 'PKN' 'PKP' 'PLW'
 'PMA' 'PMP' 'PPS' 'PRM' 'PRT' 'PTG' 'PTH' 'PUR' 'PWX' 'PXM' 'QNT' 'RAF'
 'RBW' 'RDN' 'REG' 'RES' 'RFK' 'RLP' 'RMK' 'RPC' 'RVU' 'RWL' 'SEK' 'SEL'
 'SES' 'SFG' 'SFS' 'SGN' 'SHO' 'SIM' 'SKA' 'SLV' 'SLZ' 'SNK' 'SNT' 'SNW'
 'SNX' 'SOL' 'SON' 'SPH' 'SPR' 'STF' 'STH' 'STP' 'STS' 'STX' 'SUW' 'SVRS'
 'SWG' 'TAR' 'TBL' 'TEN' 'TIM' 'TLX' 'TMR' 'TOA' 'TOR' 'TPE' 'TRK' 'TRN'
 'TRR' 'TSG' 'TXM' 'ULG' 'ULM' 'UNI' 'UNT' 'VGO' 'VOX' 'VRC' 'VRG' 'VTL'
 'VVD' 'WAS' 'WLT' 'WOJ' 'WPL' 'WTN' 'WWL' 'XTP' 'ZAP' 'ZEP' 'ZMT' 'ZRE'
 'ZUE' 'ZUK' 'ZWC']

In [37]:
ticker_counts = df['ticker'].value_counts()

print("\nSummary statistics:")
print(f"Maximum entries for a ticker: {ticker_counts.max()}")
print(f"Minimum entries for a ticker: {ticker_counts.min()}")
print(f"Average entries per ticker: {ticker_counts.mean():.2f}")
print(f"Median entries per ticker: {ticker_counts.median():.2f}")

Summary statistics:
Maximum entries for a ticker: 99
Minimum entries for a ticker: 1
Average entries per ticker: 51.14
Median entries per ticker: 50.00

In [38]:
# Drop tickers that are insufficient

tickers_to_drop = ['AGT', 'ANR', 'ASB', 'BBT', 'BCS', 'BCX', 'CRI', 'CRJ', 'CTS', 'CTX', 'DAD',
                  'DNP', 'GIF', 'GOP', 'GPP', 'HLD', 'HUG', 'ICE', 'IMC', 'KDM', 'KER', 'MLK',
                  'MLS', 'MOC', 'NNG', 'NTU', 'OND', 'PCF', 'PTG', 'PUR', 'SFG', 'SHO', 'SIM',
                  'SLV', 'SLZ', 'SPH', 'SPR', 'STH', 'SVRS', 'TEN', 'TMR', 'TXM', 'VRC']


df = df[~df['ticker'].isin(tickers_to_drop)]


df['end_of_period'] = df['end_of_period'].astype('datetime64[ns]')
cutoff_date = pd.to_datetime('2022-07-01')
df = df[df['end_of_period'] <= cutoff_date]

In [39]:
def fill_missing_quarters(df):
   new_rows = []

   for ticker in df['ticker'].unique():
       ticker_data = df[df['ticker'] == ticker]

       ticker_data = ticker_data.sort_values('end_of_period')

       first_date = ticker_data['end_of_period'].min()
       last_date = ticker_data['end_of_period'].max()

       day_of_month = ticker_data['end_of_period'].dt.day.mode()[0]

       all_quarters = []
       current_date = first_date

       while current_date <= last_date:
           all_quarters.append(current_date)
           year = current_date.year + (current_date.month + 3) // 12
           month = (current_date.month + 3 - 1) % 12 + 1
           current_date = pd.Timestamp(year=year, month=month, day=day_of_month)

       existing_dates = set(ticker_data['end_of_period'])
       all_quarters_set = set(all_quarters)
       missing_dates = all_quarters_set - existing_dates

       for missing_date in missing_dates:
           new_row = {'ticker': ticker, 'end_of_period': missing_date}
           new_rows.append(new_row)

   if new_rows:
       missing_df = pd.DataFrame(new_rows)

       for col in df.columns:
           if col not in ['ticker', 'end_of_period']:
               missing_df[col] = np.nan

       result_df = pd.concat([df, missing_df], ignore_index=True)
       result_df = result_df.sort_values(['ticker', 'end_of_period'])

       return result_df

   return df


df = fill_missing_quarters(df)

In [44]:
df.isnull().sum()

end_of_period                               0
total_assets                              412
non_current_assets                        412
current_assets                            412
property_plant_equipment                  412
intangible_assets                         412
inventories                               412
trade_receivables                         412
cash_and_cash_equivalents                 412
equity_shareholders_of_the_parent         412
share_capital                             412
retained_earning_accumulated_losses       412
non_current_liabilities                   412
current_liabilities                       412
non_current_loans_and_borrowings          412
financial_liabilities_loans_borrowings    412
total_shares                              412
file_name                                 412
ticker                                      0
target                                    412
dtype: int64