In [1]:
from utils.data_utils import process_financial_details

In [2]:
data_folder = '../../data/raw'

# Detailed Financial Company Information

In [3]:
df_financial_details = process_financial_details(data_folder)

Processing financial details files: 100%|██████████| 349/349 [00:53<00:00,  6.53it/s]

In [4]:
df_financial_details.head(3)

,date,assets,non_current_assets,current_assets,property_plant_equipment,intangible_assets,inventories,trade_receivables,cash_and_cash_equivalents,equity_shareholders_of_the_parent,share_capital,retained_earning_accumulated_losses,non_current_liabilities,current_liabilities,non_current_loans_and_borrowings,financial_liabilities_loans_borrowings,total_shares,filename
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11BIT.xlsx
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11BIT.xlsx
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11BIT.xlsx

In [5]:
df_financial_details.dropna(subset='date', inplace=True)

In [6]:
df_financial_details.head(3)

,date,assets,non_current_assets,current_assets,property_plant_equipment,intangible_assets,inventories,trade_receivables,cash_and_cash_equivalents,equity_shareholders_of_the_parent,share_capital,retained_earning_accumulated_losses,non_current_liabilities,current_liabilities,non_current_loans_and_borrowings,financial_liabilities_loans_borrowings,total_shares,filename
48,2010-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1494.2,11BIT.xlsx
50,2010-07-01,1411,2,1409,NaN,NaN,NaN,NaN,NaN,709,NaN,NaN,NaN,702,NaN,NaN,1494.2,11BIT.xlsx
51,2010-10-01,1352.36,55.87,1296.49,2.17,0,457.47,0.14,731.78,1268.2,187.08,-231.2,NaN,84.15,NaN,NaN,1870.761,11BIT.xlsx

In [7]:
df_financial_details.to_csv('../../data/processed/details_company_info.csv', index=False)

In [8]:
df_financial_details.shape

(19906, 18)

In [9]:
df_financial_details.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19906 entries, 48 to 32659
Data columns (total 18 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   date                                    19906 non-null  object
 1   assets                                  18995 non-null  object
 2   non_current_assets                      18859 non-null  object
 3   current_assets                          18929 non-null  object
 4   property_plant_equipment                18215 non-null  object
 5   intangible_assets                       17381 non-null  object
 6   inventories                             16529 non-null  object
 7   trade_receivables                       18741 non-null  object
 8   cash_and_cash_equivalents               18696 non-null  object
 9   equity_shareholders_of_the_parent       19004 non-null  object
 10  share_capital                           18907 non-null  object
 11  retained_earning_accumulated_losses     18774 non-null  object
 12  non_current_liabilities                 18404 non-null  object
 13  current_liabilities                     18973 non-null  object
 14  non_current_loans_and_borrowings        11242 non-null  object
 15  financial_liabilities_loans_borrowings  11677 non-null  object
 16  total_shares                            19906 non-null  object
 17  filename                                19906 non-null  object
dtypes: object(18)
memory usage: 2.9+ MB