In [14]:
from scripts.data_utils import count_files_in_directory, process_all_files

In [15]:
data_folder = '../../data/financial_details'

# General Info Extraction (ticker, sector, company name)

In [16]:
print(f'There are total of: {count_files_in_directory(data_folder)} company files inside main data directory.')

There are total of: 349 company files inside main data directory.

In [17]:
df_general_info = process_all_files(data_folder)

Processing files: 100%|██████████| 349/349 [00:30<00:00, 11.33it/s]

In [18]:
df_general_info.head(3)

                Name   TICKER Sector     File_Name
0  11 bit studios SA      11B    gry    11BIT.xlsx
1             3LP SA  3LP_IPO    NaN    3LPSA.xlsx
2        3R Games SA      3RG    gry  3RGAMES.xlsx

In [19]:
df_general_info.isnull().sum()

Name         0
TICKER       0
Sector       4
File_Name    0
dtype: int64

In [20]:
print("Rows where 'Sector' is NaN:")
print(df_general_info[df_general_info['Sector'].isna()])

Rows where 'Sector' is NaN:
                       Name   TICKER Sector      File_Name
1                    3LP SA  3LP_IPO    NaN     3LPSA.xlsx
49                   BMW AG      BMW    NaN       BMW.xlsx
191  Mercedes-Benz Group AG      MBG    NaN  MERCEDES.xlsx
322             Uf Games SA  UFG_IPO    NaN   UFGAMES.xlsx

In [21]:
sector_updates = {
    '3LP SA': 'Logistyka',
    'BMW AG': 'Motoryzacja',
    'Mercedes-Benz Group AG': 'Motoryzacja',
    'Uf Games SA': 'Gry'
}

In [22]:
# Function to update sectors
def update_sector(row):
    if row['Name'] in sector_updates:
        return sector_updates[row['Name']]
    return row['Sector']

In [23]:
# Apply the update function to the DataFrame
df_general_info['Sector'] = df_general_info.apply(update_sector, axis=1)

In [24]:
nan_count = df_general_info['Sector'].isna().sum()
print(f"\nRemaining number of NaN values in 'Sector': {nan_count}")

Remaining number of NaN values in 'Sector': 0

In [25]:
df_general_info.head(3)

                Name   TICKER     Sector     File_Name
0  11 bit studios SA      11B        gry    11BIT.xlsx
1             3LP SA  3LP_IPO  Logistyka    3LPSA.xlsx
2        3R Games SA      3RG        gry  3RGAMES.xlsx

In [26]:
df_general_info.to_csv('../../data/extracted/general_data_extraction.csv', index=False)