In [1]:
from scripts.data_utils import count_files_in_directory, process_general_info

In [2]:
data_folder = '../../data/raw'

# General Info Extraction (ticker, sector, company name)

In [3]:
print(f'There are total of: {count_files_in_directory(data_folder)} company files inside main data directory.')

There are total of: 349 company files inside main data directory.

In [4]:
df_general_info = process_general_info(data_folder)

Processing general info files: 100%|██████████| 349/349 [00:30<00:00, 11.52it/s]

In [5]:
df_general_info.head(3)

                Name   TICKER Sector     File_Name
0  11 bit studios SA      11B    gry    11BIT.xlsx
1             3LP SA  3LP_IPO    NaN    3LPSA.xlsx
2        3R Games SA      3RG    gry  3RGAMES.xlsx

In [6]:
df_general_info.isnull().sum()

Name         0
TICKER       0
Sector       4
File_Name    0
dtype: int64

In [7]:
print("Rows where 'Sector' is NaN:")
print(df_general_info[df_general_info['Sector'].isna()])

Rows where 'Sector' is NaN:
                       Name   TICKER Sector      File_Name
1                    3LP SA  3LP_IPO    NaN     3LPSA.xlsx
49                   BMW AG      BMW    NaN       BMW.xlsx
191  Mercedes-Benz Group AG      MBG    NaN  MERCEDES.xlsx
322             Uf Games SA  UFG_IPO    NaN   UFGAMES.xlsx

In [8]:
sector_updates = {
    '3LP SA': 'handel',
    'BMW AG': 'motoryzacja',
    'Mercedes-Benz Group AG': 'motoryzacja',
    'Uf Games SA': 'gry'
}

In [9]:
# Function to update sectors
def update_sector(row):
    if row['Name'] in sector_updates:
        return sector_updates[row['Name']]
    return row['Sector']

In [10]:
# Apply the update function to the DataFrame
df_general_info['Sector'] = df_general_info.apply(update_sector, axis=1)

In [11]:
nan_count = df_general_info['Sector'].isna().sum()
print(f"\nRemaining number of NaN values in 'Sector': {nan_count}")

Remaining number of NaN values in 'Sector': 0

In [12]:
df_general_info.head(3)

                Name   TICKER  Sector     File_Name
0  11 bit studios SA      11B     gry    11BIT.xlsx
1             3LP SA  3LP_IPO  handel    3LPSA.xlsx
2        3R Games SA      3RG     gry  3RGAMES.xlsx

In [13]:
df_general_info.to_csv('../../data/processed/general_company_info.csv', index=False)