In [1]:
from scripts.data_utils import *

In [2]:
data_folder = '../../data/stooq/historic_market_value'

# Historical Market Value from Stooq.pl

In [3]:
columns = ["TICKER", "PER", "DATE", "TIME", "OPEN", "HIGH", "LOW", "CLOSE", "VOL", "OPENINT"]
all_dfs = []
for filename in os.listdir(data_folder):
    if filename.endswith('.txt'):
        file_path = os.path.join(data_folder, filename)
        try:
            temp_df = pd.read_csv(file_path, delimiter=',')
            if temp_df.shape[1] == len(columns):
                temp_df.columns = columns  
                all_dfs.append(temp_df)  
            else:
                print(f'File {file_path} does not match the expected number of columns.')
        except Exception as e:
            pass

combined_df = pd.concat(all_dfs, ignore_index=True)
combined_df['DATE'] = pd.to_datetime(combined_df['DATE'], format='%Y%m%d').dt.strftime('%Y-%m-%d')
combined_df['target'] = (combined_df['OPEN'] + combined_df['CLOSE']) / 2

output_file_path = '../../data/processed/stooq_data.csv'
combined_df.to_csv(output_file_path, index=False)

In [4]:
combined_df.head(10)

,TICKER,PER,DATE,TIME,OPEN,HIGH,LOW,CLOSE,VOL,OPENINT,target
0,06N,D,1997-06-12,0,85.849,85.849,85.849,85.849,18258.0,0,85.849
1,06N,D,1997-06-13,0,90.764,90.764,90.764,90.764,18402.0,0,90.764
2,06N,D,1997-06-16,0,86.668,86.668,86.668,86.668,8411.0,0,86.668
3,06N,D,1997-06-17,0,78.148,78.148,78.148,78.148,10313.0,0,78.148
4,06N,D,1997-06-18,0,75.363,75.363,75.363,75.363,8673.0,0,75.363
5,06N,D,1997-06-19,0,72.906,72.906,72.906,72.906,13227.0,0,72.906
6,06N,D,1997-06-20,0,72.906,72.906,72.906,72.906,5732.0,0,72.906
7,06N,D,1997-06-23,0,72.906,72.906,72.906,72.906,12240.0,0,72.906
8,06N,D,1997-06-24,0,68.073,68.073,68.073,68.073,4379.0,0,68.073
9,06N,D,1997-06-25,0,68.892,68.892,68.892,68.892,5278.0,0,68.892