In [25]:
import pandas as pd
from data_cleaning.data_utils import *

In [26]:
df = pd.read_csv('data/dataframes/data_with_target.csv')

In [27]:
df = df.sort_values(by=['filename', 'end_of_period'])

In [28]:
columns_to_drop = [
    'date_of_publication', 'gross_profit_margin_on_sales', 'operating_profit_margin',
    'gross_profit_margin', 'net_profit_margin', 'total_liability.1', 'company_name', 'ticker',
    'Name', 'Period end', 'accruals.1', 'accounting_standard', 'avg_share_price'
]

cleaned_df = df.drop(columns=columns_to_drop, errors='ignore')

In [29]:
def calculate_zero_percentage(column):
    zero_count = (column == 0).sum()
    zero_percentage = zero_count / len(column) * 100
    return zero_percentage

zero_percentages = cleaned_df.apply(calculate_zero_percentage)

zero_percentages

end_of_period                                                    0.000000
revenues_from_sales                                              2.066309
operating_profitloss                                             0.560355
net_profitloss_attributable_to_equity_holders_of_the_parent      0.326874
total_comprehensive_income_attributable_to_equity_holders       84.718655
                                                                  ...
load_gross_profit                                              100.000000
current_financial_liabilities                                  100.000000
noncurrent_financial_liabilities                               100.000000
sector                                                           0.000000
target                                                           0.000000
Length: 100, dtype: float64

In [30]:
columns_to_drop = [
    'treasury_shares', 'noncurrent_financial_liabilities', 'employee_benefits', 'trade_payables', 'liabilities_from_finance_leases', 'bond_liabilities', 'total_liability', 'liabilities_from_derivatives', 'noncurrent_accruals', 'other_noncurrent_liabilities', 'noncurrent_provision','deferred_tax_liabilities','longterm_provision_for_employee_benefits','noncurrent_trade_payables','noncurrent_liabilities_from_finance_leases','noncurrent_liabilities_from_bonds','noncurrent_loans_and_borrowings','noncurrent_liabilities_from_derivatives','noncontrolling_interests','retained_earnings_accumulated_losses','other_capitals','valuation_and_exchange_differences','supplementary_capital','current_tax_liabilities','provisions','other_liabilities','cash_conversion_cycle','load_gross_profit','asset_utilization','leverage','rate_debt_security','debt_service_ratio','debt_ratio','assets_ratio','rotation_of_assets','rotation_assets','rotation_commitments','liabilities_related_to_assets_held_for_sale_and_discontinued_operations','the_operating_cycle','inventory_turnover','receivables_turnover','cash_ratio','quick_ratio','current_ratio','working_capital_ratio','return_on_assets','return_on_equity','called_up_share_capital','share_capital','equity_liabilities','inventories','property_plant_and_equipment','exploration_for_and_evaluation_of_mineral_resources','intangible_assets','goodwill','rightofuse_assets','investment_in_affiliates','noncurrent_financial_assets','noncurrent_loans_and_receivables','deferred_income_tax','noncurrent_deferred_charges_and_accruals','noncurrent_derivative_instruments','other_noncurrent_assets','investment_property','current_intangible_assets','derivative_instruments','biological_assets','own_shares','called_up_capital','assets_held_for_sale_and_discontinuing_operations','other_assets','current_financial_liabilities','assets_from_current_tax','trade_receivables','accruals','cash_and_cash_equivalents','financial_assets','loans_and_other_receivables','total_comprehensive_income_per_share','total_comprehensive_income_attributable_to_equity_holders',
    'book_value_per_share', 'number_of_shares'
]

cleaned_df = cleaned_df.drop(columns=columns_to_drop, errors='ignore')

In [31]:
count_rows_by_filename(cleaned_df)

         filename  count
0      11BIT.xlsx     50
1    3RGAMES.xlsx     34
2         AB.xlsx     72
3         AC.xlsx     44
4     ACTION.xlsx     82
..            ...    ...
291  ZPC_OTM.xlsx     50
292  ZREMBCH.xlsx     50
293      ZUE.xlsx     50
294      ZUK.xlsx     64
295   ZYWIEC.xlsx    100

[296 rows x 2 columns]

In [32]:
filenames_to_delete = [
    'TXM.xlsx', 'MILKI.xlsx'
]

cleaned_df = cleaned_df[~cleaned_df['filename'].isin(filenames_to_delete)]

In [33]:
cleaned_df

,end_of_period,revenues_from_sales,operating_profitloss,net_profitloss_attributable_to_equity_holders_of_the_parent,depreciation,cash_flow_from_operating_activities,cash_flow_from_investing_activities,cash_flow_from_financing_activities,total_assets,noncurrent_assets,current_assets,equity_shareholders_of_the_parent,noncurrent_liabilities,current_liabilities,earnings_per_share,filename,sector,target
0,2010-12-31,228.0,0.0,-198.0,0.0,0.0,0.0,0.0,1352.36,55.87,1296.49,1268.2,0.0,84.15,-0.11,11BIT.xlsx,gry,14208.43
1,2010-12-31,228.0,0.0,-198.0,0.0,0.0,0.0,0.0,1352.36,55.87,1296.49,1268.2,0.0,84.15,-0.11,11BIT.xlsx,gry,14208.43
2,2011-03-31,144.0,0.0,-50.0,0.0,0.0,0.0,0.0,1342.00,86.00,1256.00,1221.0,0.0,110.00,-0.03,11BIT.xlsx,gry,41881.66
3,2011-03-31,144.0,0.0,-50.0,0.0,0.0,0.0,0.0,1342.00,86.00,1256.00,1221.0,0.0,110.00,-0.03,11BIT.xlsx,gry,41881.66
4,2011-06-30,959.0,0.0,377.0,7.0,0.0,0.0,0.0,1659.00,103.00,1556.00,1595.0,0.0,64.00,0.20,11BIT.xlsx,gry,26705.11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17127,2022-03-31,696778.0,6649.0,-1246.0,38391.0,13967.0,-33280.0,57099.0,2741947.00,1723917.00,1018030.00,254238.0,620050.0,1867659.00,-0.12,ZYWIEC.xlsx,napoje,5228110.53
17128,2022-06-30,1209418.0,101579.0,92625.0,39932.0,101877.0,-21179.0,-81990.0,2981239.00,1730362.00,1250877.00,288397.0,1061326.0,1631516.00,9.02,ZYWIEC.xlsx,napoje,5040658.63
17129,2022-06-30,1209418.0,101579.0,92625.0,39932.0,101877.0,-21179.0,-81990.0,2981239.00,1730362.00,1250877.00,288397.0,1061326.0,1631516.00,9.02,ZYWIEC.xlsx,napoje,5040658.63
17130,2022-09-30,1106635.0,61538.0,23844.0,40212.0,156461.0,-24386.0,-117588.0,2733389.00,1720912.00,1012477.00,304293.0,960672.0,1468424.00,2.32,ZYWIEC.xlsx,napoje,4884020.74
17131,2022-09-30,1106635.0,61538.0,23844.0,40212.0,156461.0,-24386.0,-117588.0,2733389.00,1720912.00,1012477.00,304293.0,960672.0,1468424.00,2.32,ZYWIEC.xlsx,napoje,4884020.74

# Feature Engineering

In [34]:
cleaned_df.columns.tolist()

['end_of_period',
 'revenues_from_sales',
 'operating_profitloss',
 'net_profitloss_attributable_to_equity_holders_of_the_parent',
 'depreciation',
 'cash_flow_from_operating_activities',
 'cash_flow_from_investing_activities',
 'cash_flow_from_financing_activities',
 'total_assets',
 'noncurrent_assets',
 'current_assets',
 'equity_shareholders_of_the_parent',
 'noncurrent_liabilities',
 'current_liabilities',
 'earnings_per_share',
 'filename',
 'sector',
 'target']

In [35]:
cleaned_df['total_liabilities'] = cleaned_df['current_liabilities'] + cleaned_df['noncurrent_liabilities']

In [36]:
attributes = [
    'total_assets', 'noncurrent_assets', 'current_assets',
    'total_liabilities', 'current_liabilities', 'noncurrent_liabilities'
]

def add_change_features(df, attributes):
    for attr in attributes:
        df[f'{attr}_change_1y'] = df.groupby('filename')[attr].diff(1)
        df[f'{attr}_change_2y'] = df.groupby('filename')[attr].diff(2)
        
    return df

nn_df = add_change_features(cleaned_df, attributes)

In [37]:
nn_df

,end_of_period,revenues_from_sales,operating_profitloss,net_profitloss_attributable_to_equity_holders_of_the_parent,depreciation,cash_flow_from_operating_activities,cash_flow_from_investing_activities,cash_flow_from_financing_activities,total_assets,noncurrent_assets,...,noncurrent_assets_change_1y,noncurrent_assets_change_2y,current_assets_change_1y,current_assets_change_2y,total_liabilities_change_1y,total_liabilities_change_2y,current_liabilities_change_1y,current_liabilities_change_2y,noncurrent_liabilities_change_1y,noncurrent_liabilities_change_2y
0,2010-12-31,228.0,0.0,-198.0,0.0,0.0,0.0,0.0,1352.36,55.87,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010-12-31,228.0,0.0,-198.0,0.0,0.0,0.0,0.0,1352.36,55.87,...,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.0,NaN
2,2011-03-31,144.0,0.0,-50.0,0.0,0.0,0.0,0.0,1342.00,86.00,...,30.13,30.13,-40.49,-40.49,25.85,25.85,25.85,25.85,0.0,0.0
3,2011-03-31,144.0,0.0,-50.0,0.0,0.0,0.0,0.0,1342.00,86.00,...,0.00,30.13,0.00,-40.49,0.00,25.85,0.00,25.85,0.0,0.0
4,2011-06-30,959.0,0.0,377.0,7.0,0.0,0.0,0.0,1659.00,103.00,...,17.00,17.00,300.00,300.00,-46.00,-46.00,-46.00,-46.00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17127,2022-03-31,696778.0,6649.0,-1246.0,38391.0,13967.0,-33280.0,57099.0,2741947.00,1723917.00,...,0.00,-72866.00,0.00,165509.00,0.00,233855.00,0.00,-321630.00,0.0,555485.0
17128,2022-06-30,1209418.0,101579.0,92625.0,39932.0,101877.0,-21179.0,-81990.0,2981239.00,1730362.00,...,6445.00,6445.00,232847.00,232847.00,205133.00,205133.00,-236143.00,-236143.00,441276.0,441276.0
17129,2022-06-30,1209418.0,101579.0,92625.0,39932.0,101877.0,-21179.0,-81990.0,2981239.00,1730362.00,...,0.00,6445.00,0.00,232847.00,0.00,205133.00,0.00,-236143.00,0.0,441276.0
17130,2022-09-30,1106635.0,61538.0,23844.0,40212.0,156461.0,-24386.0,-117588.0,2733389.00,1720912.00,...,-9450.00,-9450.00,-238400.00,-238400.00,-263746.00,-263746.00,-163092.00,-163092.00,-100654.0,-100654.0
17131,2022-09-30,1106635.0,61538.0,23844.0,40212.0,156461.0,-24386.0,-117588.0,2733389.00,1720912.00,...,0.00,-9450.00,0.00,-238400.00,0.00,-263746.00,0.00,-163092.00,0.0,-100654.0

In [38]:
nan_counts = nn_df.isna().sum()
nan_counts

end_of_period                                                    0
revenues_from_sales                                              0
operating_profitloss                                             0
net_profitloss_attributable_to_equity_holders_of_the_parent      0
depreciation                                                     0
cash_flow_from_operating_activities                              0
cash_flow_from_investing_activities                              0
cash_flow_from_financing_activities                              0
total_assets                                                     0
noncurrent_assets                                                0
current_assets                                                   0
equity_shareholders_of_the_parent                                0
noncurrent_liabilities                                           0
current_liabilities                                              0
earnings_per_share                                               0
filename                                                         0
sector                                                           0
target                                                           0
total_liabilities                                                0
total_assets_change_1y                                         294
total_assets_change_2y                                         588
noncurrent_assets_change_1y                                    294
noncurrent_assets_change_2y                                    588
current_assets_change_1y                                       294
current_assets_change_2y                                       588
total_liabilities_change_1y                                    294
total_liabilities_change_2y                                    588
current_liabilities_change_1y                                  294
current_liabilities_change_2y                                  588
noncurrent_liabilities_change_1y                               294
noncurrent_liabilities_change_2y                               588
dtype: int64

In [39]:
mini_df = nn_df.copy()
mini_df_fill = nn_df

In [40]:
def fill_missing_values(df, attributes):
    for attr in attributes:
        df[f'{attr}_change_1y'] = df.groupby('filename')[f'{attr}_change_1y'].ffill().bfill()
        df[f'{attr}_change_2y'] = df.groupby('filename')[f'{attr}_change_2y'].ffill().bfill()
        
        df[f'{attr}_change_1y'] = df[f'{attr}_change_1y'].fillna(0)
        df[f'{attr}_change_2y'] = df[f'{attr}_change_2y'].fillna(0)
    return df

nn_df = fill_missing_values(nn_df, attributes)

In [41]:
nn_df = nn_df.drop(columns='filename', errors='ignore')

In [42]:
nn_df

,end_of_period,revenues_from_sales,operating_profitloss,net_profitloss_attributable_to_equity_holders_of_the_parent,depreciation,cash_flow_from_operating_activities,cash_flow_from_investing_activities,cash_flow_from_financing_activities,total_assets,noncurrent_assets,...,noncurrent_assets_change_1y,noncurrent_assets_change_2y,current_assets_change_1y,current_assets_change_2y,total_liabilities_change_1y,total_liabilities_change_2y,current_liabilities_change_1y,current_liabilities_change_2y,noncurrent_liabilities_change_1y,noncurrent_liabilities_change_2y
0,2010-12-31,228.0,0.0,-198.0,0.0,0.0,0.0,0.0,1352.36,55.87,...,0.00,30.13,0.00,-40.49,0.00,25.85,0.00,25.85,0.0,0.0
1,2010-12-31,228.0,0.0,-198.0,0.0,0.0,0.0,0.0,1352.36,55.87,...,0.00,30.13,0.00,-40.49,0.00,25.85,0.00,25.85,0.0,0.0
2,2011-03-31,144.0,0.0,-50.0,0.0,0.0,0.0,0.0,1342.00,86.00,...,30.13,30.13,-40.49,-40.49,25.85,25.85,25.85,25.85,0.0,0.0
3,2011-03-31,144.0,0.0,-50.0,0.0,0.0,0.0,0.0,1342.00,86.00,...,0.00,30.13,0.00,-40.49,0.00,25.85,0.00,25.85,0.0,0.0
4,2011-06-30,959.0,0.0,377.0,7.0,0.0,0.0,0.0,1659.00,103.00,...,17.00,17.00,300.00,300.00,-46.00,-46.00,-46.00,-46.00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17127,2022-03-31,696778.0,6649.0,-1246.0,38391.0,13967.0,-33280.0,57099.0,2741947.00,1723917.00,...,0.00,-72866.00,0.00,165509.00,0.00,233855.00,0.00,-321630.00,0.0,555485.0
17128,2022-06-30,1209418.0,101579.0,92625.0,39932.0,101877.0,-21179.0,-81990.0,2981239.00,1730362.00,...,6445.00,6445.00,232847.00,232847.00,205133.00,205133.00,-236143.00,-236143.00,441276.0,441276.0
17129,2022-06-30,1209418.0,101579.0,92625.0,39932.0,101877.0,-21179.0,-81990.0,2981239.00,1730362.00,...,0.00,6445.00,0.00,232847.00,0.00,205133.00,0.00,-236143.00,0.0,441276.0
17130,2022-09-30,1106635.0,61538.0,23844.0,40212.0,156461.0,-24386.0,-117588.0,2733389.00,1720912.00,...,-9450.00,-9450.00,-238400.00,-238400.00,-263746.00,-263746.00,-163092.00,-163092.00,-100654.0,-100654.0
17131,2022-09-30,1106635.0,61538.0,23844.0,40212.0,156461.0,-24386.0,-117588.0,2733389.00,1720912.00,...,0.00,-9450.00,0.00,-238400.00,0.00,-263746.00,0.00,-163092.00,0.0,-100654.0

In [43]:
nn_df.to_csv("nn_df.csv", index=False)

# MINI DATAFRAMES (experimental)

In [44]:
columns_to_drop = ['revenues_from_sales', 'operating_profitloss', 'net_profitloss_attributable_to_equity_holders_of_the_parent', 'depreciation', 'cash_flow_from_operating_activities',
 'cash_flow_from_investing_activities',
 'cash_flow_from_financing_activities', 'earnings_per_share',
 'book_value_per_share', 'filename']

In [45]:
mini_df = mini_df.drop(columns=columns_to_drop, errors='ignore')
mini_df = mini_df.dropna()

In [46]:
mini_df_fill = mini_df_fill.drop(columns=columns_to_drop, errors='ignore')

In [47]:
mini_df.to_csv("mini_df.csv", index=False)
mini_df_fill.to_csv("mini_df_fill.csv", index=False)